---
title: Jeremy Fairbank
---

.content
  .welcome
    .avatar
      = image_tag site.avatar

    %h1.title= site.title
    %h2.roles
      Web Developer - Blogger - Speaker

    %nav.social-nav
      %ul.list
        %li.item
          = link_to 'https://github.com/jfairbank' do
            %span.fa.fa-github
        %li.item
          = link_to 'https://twitter.com/ElPapaPollo' do
            %span.fa.fa-twitter
        %li.item
          = link_to 'http://blog.jeremyfairbank.com' do
            %span.fa.fa-pencil

