---
title: Jeremy Fairbank
---

.content
  .welcome
    .avatar
      = image_tag site.avatar

    %h1.title= site.title
    %h2.roles
      Web Developer - Blogger - Speaker

    %nav.social-nav
      %ul.list
        %li.item
          = social_link :github, use_fa: true
        %li.item
          = social_link :twitter, use_fa: true
        %li.item
          = link_to fa(:pencil), site.blog_url

    -#= page 'about', 'pages/about'
    -#= page 'open-source', 'pages/open-source'
    -#= page 'conferences', 'pages/conferences'
